{% extends 'mail_sender/base.html' %}

{% block content %}

<div class="row title">
    <div class="text-title">
        <h2>Редактировать рассылку</h1>
    </div>
</div>

<div class="row main">
    <div class="col form">

        <form method="post">
            {% csrf_token %}
            <div class="card massage">
                <div class="m-2">
                    <label class="form-label">Тема сообщения</label>
                    <input class="form-control mb-2" type="text" placeholder="Тема" aria-label="default input example"
                        name="massage_subject" value={{ massage_subject }} required maxlength="250">
                    <div class="mb-2">
                        <label for="exampleFormControlTextarea1" class="form-label">Текст</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="massage_text"
                            required>{{ massage_text }}</textarea>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="periodicity-title">Введите периодичность рассылки:</h4>
                            <p periodicity-link>Проверить периодичность можно <a class="periodicity-link"
                                    href="https://crontab.guru/#*_*_*_*_*" target="_blank">по этой ссылке.</a></p>
                        </div>
                    </div>
                    <div class="row time">
                        <div class="col time l">
                            <label for="formGroupExampleInput" class="form-label">Минуты</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="*"
                                name="minute" value={{ minute }} required maxlength="5">
                        </div>

                        <div class="col time">
                            <label for="formGroupExampleInput" class="form-label">Часы</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="*"
                                name="hour" value={{ hour }} required maxlength="5">
                        </div>

                        <div class="col time">
                            <label for="formGroupExampleInput" class="form-label">День мес.</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="*"
                                name="day_month" value={{ day_month }} required maxlength="5">
                        </div>

                        <div class="col time">
                            <label for="formGroupExampleInput" class="form-label">Месяц</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="*"
                                name="month" value={{ month }} required maxlength="5">
                        </div>

                        <div class="col time r">
                            <label for="formGroupExampleInput" class="form-label">День нед.</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="*"
                                name="day_week" value={{ day_week }} required maxlength="5">
                        </div>
                    </div>

                    <div class="">
                        <input class="btn btn-primary" type="submit" value="Сохранить"/>
                    </div>

                </div>
        </form>

    </div>
</div>

{% endblock %}