{% extends 'mail_sender/base.html' %}

{% block content %}

<div class="row title">
    <div class="text-title">
        <h2>Изменить пользователя</h1>
    </div>
</div>

<div class="row main">
    <div class="col form">

        <form method="post">
            {% csrf_token %}
            <div class="card user">
                <div class="m-2">
                    <label class="form-label">Имя</label>
                    <input class="form-control" type="text" placeholder="Иван" aria-label="default input example"
                        name="first_name" value={{ first_name }} required>
                    <label class="form-label">Фамилия</label>
                    <input class="form-control" type="text" placeholder="Иванов" aria-label="default input example"
                        name="last_name" value={{ last_name }} required>
                    <label class="form-label">Отчество</label>
                    <input class="form-control" type="text" placeholder="Иванович" aria-label="default input example"
                        name="surname" value={{ surname }} required>
                </div>

                <div class="m-2">
                    <label for="exampleFormControlInput1" class="form-label">Почта</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@mail.com"
                        name="email" value={{ email }} required>
                </div>
                <div class="m-2">
                    <label for="exampleFormControlTextarea1" class="form-label">Комментарий</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="comment">{{ comment }}</textarea>
                </div>
                <div class="m-2">
                    <input class="btn btn-primary" type="submit" value="Сохранить" />
                </div>
            </div>
        </form>

    </div>
</div>

{% endblock  %}