{% extends 'mailing_management/base.html' %}


{% block content %}

<div class="row title">
    <div class="text-title">
        <h1>Добавить клента</h1>
    </div>
</div>

<div class="row main">
    <div class="col form">

        <form method="post">
            {% csrf_token %}
            <div class="card user">
                <div class="m-2">
                
                {{ form.as_p}}

                </div>
                <div class="m-2">
                    <input class="btn btn-primary" type="submit" value="Создать" />
                </div>
            </div>
        </form>

    </div>
</div>

<div class="row title">
    <div class="text-title">
        <h2>Список пользователей</h1>
    </div>
</div>

<div class="row m-0 table">
    <div class="col table">
        <div class="card table">
            <table class="table mb-0 table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Полное имя</th>
                        <th scope="col">Email</th>
                        <th scope="col">Действие</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users_list %}
                    <tr>
                        <th scope="row">{{ user.pk }}</th>
                        <td>{{ user.first_name }} {{ user.last_name }} {{ user.surname }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                <button type="button" class="btn btn-outline-primary">
                                    <a class="user-action" href={% url 'mail_sender:edit_user' user.pk %}>Ред.</a>
                                </button>
                                <button type="button" class="btn btn-outline-primary">
                                    <a class="user-action" href={% url 'mail_sender:del_user' user.pk %}>Удалить</a>
                                </button>

                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if users_list.has_other_pages %}
<div class="row">
    <div class="col">
        <div class="paginator">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    
                    {% if users_list.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ users_list.previous_page_number }}">Previous</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ users_list.previous_page_number }}">{{ users_list.previous_page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link">Previous</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    {% endif %}
                    
                        <li class="page-item"><a class="page-link current" href="#">{{ users_list.number }}</a></li>
                    
                    {% if users_list.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ users_list.next_page_number }}">{{ users_list.next_page_number }}</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ users_list.next_page_number }}">Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        <li class="page-item disabled"><a class="page-link">Next</a></li>
                    {% endif %}

                </ul>    
            </nav>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}