{% extends 'mailing_management/base.html' %}

{% load format_path_to_image %}

{% block content %}

<div class="row title">
    <div class="text-title">
        <h1>Блог сайта</h1>
        <p>Тут вы найдете разные новости нашего сайта</p>
    </div>
</div>

{% for object in object_list %}
<div class="row">
    <div class="col">
        <div class="card text-center mb-5" style="margin-left: auto; margin-right: auto; max-width: 60rem; background-color: #313338;">
            <div class="card-header" style="color: rgb(212, 217, 221); background-color: #3D444D;">
                Пост №{{ object.pk }}
            </div>
            <div class="card-body" style="background-color: #d1d9e1;">
                <h3 class="card-title">{{ object.title }}</h3>
                <hr>
                <img src="{{ object.image | format_path_to_image }}" alt="" style="max-width: 45rem;">
                <p class="card-text" style="margin-top: 2rem;">{{ object.text }}</p>
                <hr>
                <a href={% url 'blog:post' object.slug %} class="btn btn-primary" style="width: 10rem;">Открыть</a>
            </div>
            <div class="card-footer text-body-secondary" style="background-color: #3D444D; color: rgb(212, 217, 221);">
                Количество просмотров: {{ object.views_count }} / Дата публикации: {{ object.published_at }}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}