.card.massage {
    max-width: 30.7rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #3d444d;
    color: rgb(224, 233, 240);
}

.col.time {
    margin: 0;
    padding: 0.5rem;
}

.col.time>.form-control {
    width: 5rem;
}

.periodicity-title {
    margin-top: 1em;
    margin-bottom: 0;
}

.periodicity-link {
    text-decoration: none;
    color: rgb(150, 150, 228);
    
}

.col.time.l {
    margin-left: 0.3rem;
}

.col.time.r {
    margin-right: 0.3rem;
}
.modal-content {
    background-color: #313338;
}
.modal-header {
    background-color: #313338;
    border-color:#5d6063;
}

.modal-body {
    background-color: #484c50;
    border-color: #484c50;
}

.modal-footer {
    background-color: #313338;
    border-color: #5d6063;
}

.user-action.del {
    color: rgb(249, 249, 249);
}

/* @media (max-width: 750px) {
    .card.massage {
        width: 29rem;
    }
} */
